<div class="footer">
  <div class="Site-map">
    Site map  
  </div>

  <div class="Site-menu">
    <ul>
      <li>About</li>
      <li>Project</li>
      <li>Diary</li>
      <li>Story</li>
    </ul>
  </div>
</div>
