<div class="title">
  <img src="https://1.gall-img.com/hygall/files/attach/images/82/190/918/035/4e060fcddef732172c77da65f577a95d.jpg" style="position: absolute; top: 6px; left: 6px; width: 44px"> 
<!--   <img src="https://blog.kakaocdn.net/dn/dQzBqL/btqC9OhABed/mjjqwJCK7zAx1Df1n9sVCK/img.jpg" style="position: absolute; bottom: 12px; right: 12px; width: 72px">     -->
</div>


<div class="Nav">
  <form action="/" method="get">
    <a href="#" class="topNav" onclick="location.href='/'">Home</a>
    <a href="#" onclick="location.href='/about.html'">About</a>
    <a href="#" onclick="location.href='/project.html'">Project</a>
    <a href="#" onclick="location.href='/diary.html'">Diary</a>
    <a href="#" onclick="location.href='/story.html'">Story</a>
    <input type="text" placeholder="Search..."> 
  </form>
</div>
