<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head") %>
    <title>Welcome to Glitch!</title>
  </head>
  <body>
    <%- include("components/nav") %>
    <hr class="header-line" />

    <div class="main">
      About
    </div>

    <%- include("components/footer") %>
  </body>
</html>
