<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    
    <ul>
      <% for (let i = 0; i < posts.length; i++) { %>
        <li><a href="/show-posts/<%= posts[i].id %>"><%= posts[i].title %></a> &nbsp <%= posts[i].time %></li>
      <% } %>
    </ul>
    
    

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body>
</html>
